name: Deploy

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v6

      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v14
        with:
          name: lemueldls
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - run: nix flake archive --json | jq -r '.path,(.inputs|to_entries[].value.path)'
      - run: nix build --no-link --print-out-paths

      - run: mkdir -p public
      - run: cp -r result/share/fonts public

      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
